*,
::before,
::after {
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

body {
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  justify-content: center;
  display: flex;
  align-items: center;
}
.container {
}

#timer {
  position: fixed;
  width: 10%;
  float: right;
  padding: 0px;
  top: 10px;
  left: 90%;
}

#scorecard-link {
  clear: both;
  width: 25%;
  float: left;
  padding: 2px;
  position: fixed;
  top: 10px;
  left: 20px;
}

h1 {
  padding: 5px;
  font-size: 40px;
  margin-left: 5px;
  font-weight: 500;
  color: rgb(105, 105, 233);
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.card {
  clear: both;
  display: auto;
  border: 2px solid rgb(152, 187, 231);
  box-shadow: 0px 0px 2px 4px rgba(156, 194, 245, 0.986);
  width: 650px;
  max-width: 80%;
  height: 325px;
  position: relative;
  top: 100px;
  left: 80px;
  border-radius: 5px;
  margin: none;
}

.score-card {
}

#start-box {
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: center;
}

.btn {
  width: 200px;
  max-width: 60%;
  display: grid;
  grid-template-columns: repeat(1, auto);
  justify-content: center;
  gap: 0px;
  background-color: rgb(200, 219, 248);
  border: 2px solid rgb(103, 103, 221);
  padding: 20px;
  text-align: center;
  margin-top: 20px;
  text-decoration: none;
  border-radius: 20px 20px;
  margin-left: 40px;
  font-size: 16px;
}

.btn:hover {
  background-color: rgb(243, 214, 160);
}

p {
}

.choice-container {
}

.qBtn {
  background-color: rgb(200, 219, 248);
  display: flex;
  color: rgb(7, 63, 112);
  border: 1px solid rgb(103, 103, 221);
  border-radius: 5px 5px;
  margin-bottom: 10px;
  font-size: 20px;
  margin-left: 20px;
  padding: 5px;
  border-radius: 10px 10px;
}

.qBtn:hover {
  background-color: rgb(243, 214, 160);
}

.choice-letter {
  margin-right: 15px;
  margin-left: 5px;
}

.hide {
  display: none;
}
